<%= tinymce_assets %>

<h1 class="center">Nueva Politica de Privacidad</h1>

<%= render 'form', privacy_policy: @privacy_policy %>

<%= link_to 'Back', privacy_policies_path %>

<%= tinymce height: '500' %>