.container {
  width: 100%;
  padding: var(--space-l) var(--space-xs);
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right top, rgb(224, 224, 224) 60%, rgb(122, 122, 122));

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }
}