<div class="full-container bg-main center valign-wrapper">
  <div class="row">  
    <div class="col l12 center">
      <h1 class="main-title">Tepeapulco</h1>
    </div>
    <div class="col l12 center">
      <p>Conoce, aprende, colabora y embellece tu município.</p>
    </div>
    <div class="col l12 center">
      <%= image_tag :escudo_tepeapulco_logo %>
    </div>
  </div>
</div>
