<div class="full-container bg-main center valign-wrapper">
  <div class="row">  
    <div class="col l12 center">
      <h1 class="main-title">Tepeapulco</h1>
    </div>
    <div class="col l12 center">
      <p class="title-description">Lugar | Cerro rodeado de agua</p>
    </div>
    <div class="col l12 center">
      <%= image_tag 'escudo_tepeapulco_logo.png' %>
    </div>
  </div>
  <div class="main-credits">
    <span >Creado por</span>
    <strong>
      <a href="http://azzlo.pro">
        azzlo
        <%= image_tag 'azzlo-axolotl-100.png', height: '80' %>
      </a>
    </strong>
  </div>

  <div class="general-info">
    <i id="mapShow" class="location material-icons">location_on</i>
  </div>
  <div id="map"></div>
            
</div>


<script>
  function initMap() {
    var coords = {lat: 19.785, lng: -98.557};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: coords
    });
    var marker = new google.maps.Marker({
      position: coords,
      map: map
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= @maps_api_key %>&callback=initMap">
</script>
