<%= tinymce_assets %>

<div class="row">
  <div class="col l6 offset-l3">
    <h1>Editando Evento</h1>

    <%= render 'form', event: @event %>

    <%= link_to 'Atras', @event %>
  </div>
</div>

<%= tinymce language: "es", plugins: ["link lists"], toolbar: ["undo redo | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist | removeformat | image | link | formatselect "] %>