<div class="row">
  <div class="col l4 offset-l4">
    <h1>Editando Evento</h1>

    <%= render 'form', event: @event %>

    <%= link_to 'Ver', @event %> |
    <%= link_to 'Atras', events_path %>
  </div>
</div>