<%= tinymce_assets %>

<div class="row">
  <div class="col l4 offset-l4">
    <h1>Nuevo Evento</h1>

    <%= render 'form', event: @event %>

    <%= link_to 'Atras', events_path %>
  </div>
</div>

<%= tinymce language: "es", plugins: ["link lists"], toolbar: ["undo redo | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist | removeformat | image | link | formatselect "] %>