<div class="row">
  <div class="col l4 offset-l4">
    <h1>Editando noticia</h1>

    <%= render 'form', news: @news %>
<
    <%= link_to 'Ver', @news %> |
    <%= link_to 'Atras', news_index_path %>
  </div>
</div>