<div class="row">
  <div class="col l6 offset-l3">
    <h1 class="center-align">Fotos</h1>
  </div>
</div>

<div class="row">
  <% @photos.each do |photo| %>
      <div class="col s12 m8 l6 xl6 offset-m2 offset-l3 offset-xl3">
        <%= render 'photos/photo_card', photo: photo %>
      </div>
  <% end %>
</div>

<% if user_signed_in? %>
 <a id="btn-new-photo" href="<%= new_photo_path %>" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
<% end %>