.picture_card {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large);
  margin-bottom: var(--space-xl);
  overflow: hidden;

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__user {
    display: flex;
    gap: var(--space-xxs);
    font-style: italic;
    font-weight: 400;

    img {
      width: var(--space-l);
      height: var(--space-l);
      border-radius: var(--space-l);
    }
  }

  &__body {
    padding: var(--space-s);
  }

  &__date {
    font-size: var(--font-size-xs);
    color: var(--color-text-muted)
  }

  &__description {
  }
}