.picture_card {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large);
  margin-bottom: var(--space-xl);
  overflow: hidden;

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__body {
    padding: var(--space-s);
  }

  &__date {
    font-size: var(--font-size-xs);
    color: var(--color-text-muted)
  }

  &__description {
  }
}