/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * FOR MATERIALIZE MEDIA QUERIES
 * Small screens are defined as having a max-width of 600px
 * Medium screens are defined as having a max-width of 992px
 * Large screen are defined as having a min-width of 993px
 * Extra Large screen are defined as having a min-width of 1200px 
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


img{
  color: transparent;
}

#user_image{
  border-radius: 3em;
}

#user_image_mobile_nav{
  margin: 1em 1em;
  border-radius: 3em;
}

#map{
  background: #E0E0E0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
}
#mapClose{
  display: none;
}

.side-nav{
  color: black;
}

.full-width{
  width: 100%;
}

.full-container{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 4em;
  z-index: -1;
  &.bg-main{
    background: image-url("fondo_xihuingo_tepeapulco.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .general-info{
    position: fixed;
    left: 0;
    bottom: 0;

    .location{
      color: red;
      font-size: 2.2em;

      &:hover{
        font-size: 3em;
        cursor: pointer;
      }
    }
  }

  .main-title{
    font-weight: 900;
  }
}

.main-credits{
  font-size: .9em;
  position: fixed;
  bottom: 5px;
  right: 5px;

  a{
    font-size: 1.2em;
  }

  span{
    background: #EDEDED;
    padding-left: .2em;
    padding-right: .2em;
    border-radius: .15em;
  }
}

.nav-wrapper{
  .brand-logo{
    font-weight: 300;
    line-height: 64px;
    img{
      margin-top: 12px;
      height: 40px;
      line-height: 64px;
    }
  }
}

.title-description{
  font-weight: 100;
  font-size: 2em;
}


@media only screen and (max-width: 600px){
  .main-page-image{
    max-height: 14em;
  }
}