// Entry point for your Sass build

// Mixins
@import "mixins/media";

// Configuration
@import "config/variables";
@import "config/reset";

// Components
@import "components/link";
@import "components/flash";
@import "components/btn";
@import "components/news";
@import "components/form";

// Layouts
@import "layouts/container";
@import "layouts/news_container";
@import "layouts/header";