// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.article-header{
  margin-top: 2em;
  .bg-image{
    position: relative;
    overflow: hide;

    img{
      object-fit: cover;
      bottom: 0;
    }
  }

  .title{
    background: rgba(30, 30, 30, .7);
    bottom: 5px;
    color: white;
    font-size: 3.5em;
    margin-bottom: 0;
    padding: .3em .5em;
    position: absolute;
    width: 100%;
  }
}

.article-content{
  background: #F8F8F8;
  padding: 1em 3em 1em 3em;

  p{
    font-family: 'Crimson Text', serif;
    line-height: 1.5em;
    font-size: 1.55em;
  }
}