// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
  h2.card-title{
    margin: 0 !important;
    text-transform: uppercase;
  }
  cite{
    display: block;
    margin-bottom: .5em;
  }
  .admin-actions{
    color: green;
  }
}
