// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preview{
  max-width: 100%;
}

#previewContainer{
  position: relative;
}

#btn-new-photo{
  position: fixed;
  margin-bottom: 1em;
  right: 1.6em;
  bottom: 1em;
}

#falseWall{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

#progressBarContainer{
  display: flex;
  -webkit-flex-flow: column;
          flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .8);
}

#progressMessage{
  font-size: 1.5em;
}

.photos-container{
}

.photo-card{

  margin-bottom: 3em !important;
  // max-width: 600px;

  .chip{
    box-shadow: 0 0 5px #808080;
    position: absolute;
    top: .7em;
    left: .8em;
    img{
      border-radius: 1em !important;
      object-fit: cover;
      width: 32px !important;
    }
  }
}